.box{
  width:100vw;
  height: 314px;
  background: linear-gradient(180deg, rgba(189,251,255,0.56) 0%, #64F5FF 0%, #4EEAFF 16%, rgba(255,255,255,0.23) 100%);
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  position: relative;
  .sz{
    display: flex;
    position: absolute;
    top: 58px;
    right: 13px;
    .sz-a{
      width: 17px;
      height: 19px;
      margin-right: 15px;
    }
    .tz{
      width: 16px;
      height: 18px;
    }
  }
  .yonghu{
    width: 100%;
    position: relative;
    .touxiang{
      width: 78px;
      height: 78px;
      position: absolute;
      top:89px;
      left:13px;
    }
    .text{
      position: absolute;
      top:97px;
      left:107px;
      
      .name{
        display: flex;
        h3{
        font-size: 18px;
        height: 22px;
        }
        .im{
        width: 18px;
        height: 18px;
        margin-left: 9px;
        }
      }
      
      .span{
        height: 22px;
        line-height: 22px;
        font-size: 12px;
        color: #333333;
        .sp-b{
          margin-left: 18px;
        }
      }
      p{
        color: #666666;
        font-size: 11px;
        height: 22px;
        line-height: 22px;
      }
    }
  }
  .you{
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,0.6);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    top: 116px;
    right: 13px;
    text-align: center;
    span{
      font-size: 20px;
      // background: #82F0FF;
      opacity: 1;
      color: #82F0FF;
      line-height: 20px;
    }
    }
    .pin{
      width: 100%;
      position: absolute;
      top: 183px;
      // display: flex;
      .pinglun{ 
      width: 349px;
      height: 146px;
      margin: 0 auto;
      border-radius: 8px;
    .top{
      width: 349px;
      height: 82px;
      background: #FFFFFF;
      opacity: 1;
    }
    .bottom{
      display: flex;
      width: 349px;
      height: 82px;
      align-items: center;
      // line-height: 82px;
      background: linear-gradient(180deg, #FFF6E1 0%, #FFF0D3 100%);
      box-shadow: inset 0px -1px 2px 0px rgba(223,161,79,0.2);
      .sp-a{
        width: 37px;
        height: 22px;
        font-size: 14px;
        color: #964200;
        margin-left: 3px;
        line-height: 22px;
      }
      .sp-b{
        width: 154px;
        height: 22px;
        font-size: 12px;
        color: #964200;
        margin-left: 3px;
        line-height: 22px;
      }
      .sp-c{
        width: 77px;
        height: 26px;
        // background: linear-gradient(176deg, #6EFFF6 0%, #5EE2F3 50%, #1AB3F5 92%) linear-gradient(128deg, #FFD042 15%, #FFB030 86%, #ef9504 100%) linear-gradient(128deg, #fdcc36 15%, #fca71e 53%, #f99e0c 100%);
        background-color: #edaa76b7;
        box-shadow: 0px 2px 4px 0px rgba(223, 156, 47, 0.4);
        border-radius: 13px 13px 13px 13px;
        opacity: 1;   
        font-size: 11px;
        color: #FFFFFF;
        text-align: center;
        line-height: 26px;
        margin-left: 11px;
      }
      img{
        width: 24px;
        height: 24px;
        margin-left: 17px;
      }
    }
    }
    }
}
.xiaoxi{
 width: 100%;
 margin-top: 60px;
  .xiaox-a{
    width: 349px;
    height: 120px;
    background: #FFFFFF;
    box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.15), -2px 0px 2px 0px rgba(0,0,0,0.15), 0px 2px 2px 0px rgba(0,0,0,0.15);
    border-radius: 8px 8px 8px 8px;
    // opacity: 0.2;
    // background-color: #4EEAFF;
    margin: 0 auto;
    overflow: hidden;
    h3{
      font-size: 16px;
      color: #333333;
      margin-top: 16px;
      margin-left: 16px;
    }
  }
}
.dingdan{
  width: 100%;
  margin-top: 31px;
   .dingd-a{
     width: 349px;
     height: 120px;
     background: #FFFFFF;
     box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.15), -2px 0px 2px 0px rgba(0,0,0,0.15), 0px 2px 2px 0px rgba(0,0,0,0.15);
     border-radius: 8px 8px 8px 8px;
    //  opacity: 0.2;
    //  background-color: #4EEAFF;
     margin: 0 auto;
     overflow: hidden;
     h3{
       font-size: 16px;
       color: #333333;
       margin-top: 16px;
       margin-left: 16px;
     }
   }
 }
 .fuwu{
  width: 100%;
  margin-top: 31px;
  .fuw-a{
    width: 349px;
    // height: 419px;
    margin: 0 auto;
    background: #FFFFFF;
    // background-color: #4EEAFF;
    box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.15), -2px 0px 2px 0px rgba(0,0,0,0.15), 0px 2px 2px 0px rgba(0,0,0,0.15);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    // opacity: 0.2;
    h3{
      margin-top: 18px;
      margin-left: 16px;
      margin-bottom: 16px;
    }
    
    .fuw-b{
      display: flex;
      // width: 100%;
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      margin-left: 20px;
      margin-top: 16px;
      img{
        width: 20px;
        height: 20px;
      }
      .sa-a{
        margin-left: 16px;
      }
      .sa-b{
        margin-left: 221px;
      }
    }
  }
 }